// SCREEN SIZES
$size-desktop-lg: 1440px;
$size-desktop: 1220px;
$size-desktop-sm: 1024px;
$size-tablet: 768px;
$size-mobile: 480px;

// FONTS
$font-heavy: 'baskerville', serif;
$font-normal: 'Lucida Grande', sans-serif;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

$font-size-xlarge: 48px;
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-xsmall: 12px;
$font-size-xxsmall: 10px;

$font-lineHeight-xlarge: 56px;
$font-lineHeight-large: 42px;
$font-lineHeight-medium: 32px;
$font-lineHeight-small: 28px;
$font-lineHeight-xsmall: 18px;
$font-lineHeight-xxsmall: 16px;

// COLORS

$light-yellow: #FAFD7C;
$baby-blue: #B7E4F9;
$peach: #FB6467;
$turq: #69C8EC;
$pinkage: #E762D7;
$light-blue: #69C8EC;
$dark-blue: #24325F;
$faded-yellow: #F9E48B;
$almost-black: #424242;
$shiny-black: #262525;
$faded-black: #373737;
$white: #FFF;